<!-- navbar.component.html -->
<nav class="navbar">
  <div class="container">
    <a class="logo" routerLink="/">
      <img [src]="logoSrc" class="arsen-portraite" alt="Art Gallery Logo">
      Arsen's Gallery
    </a>
   
    <div class="nav-links-container">
      <div class="nav-links-wrapper">
        <ul class="nav-links">
          <li><a routerLink="/" routerLinkActive="active" (click)="closeNavbar()">Home</a></li>
          <li><a routerLink="/about-me" routerLinkActive="active" (click)="closeNavbar()">About Me</a></li>
          <li><a routerLink="/shop" routerLinkActive="active" (click)="closeNavbar()">Shop</a></li>
          <li *ngIf="user?.role==='admin'"><a routerLink="/admin" routerLinkActive="active" (click)="closeNavbar()">Admin</a></li>
        </ul>
      </div>
      <div class="user-links-wrapper">
     
      </div>
    </div>







 

    <div class="icons-content">
      <div class="user-icon">
        <fa-icon [icon]="faUser" class="user-dropdown-toggle" (click)="toggleUserDropdown()">User</fa-icon>
        <div class="side-menu-user" [class.visible]="userDropdownVisible">
          <ul class="user-links">
            <li *ngIf="user?.email">Welcome, {{ user?.email }}</li>
            <li *ngIf="!user?.email"><a routerLink="/login" (click)="closeNavbar()">Login</a></li>
            <li *ngIf="!user?.email"><a routerLink="/signup" (click)="closeNavbar()">Signup</a></li>
            <li *ngIf="user?.email"><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
      
  
      
      <div class="cart">
        <fa-icon [icon]="faShoppingCart" (click)="toggleCartDropdown()"></fa-icon>
        <span class="cart-count">{{ cartItems.length }}</span>
      </div>
      
      <div class="side-menu" [class.visible]="cartDropdownVisible">
        <p>Shopping Cart ({{ cartItems.length }} items)</p>
        <ul>
          <li *ngFor="let item of cartItems">
            {{ item }}
          </li>
        </ul>
        <button (click)="checkout()">Checkout</button>
      </div>
      
      <div class="backdrop" *ngIf="cartDropdownVisible || userDropdownVisible" (click)="closeAllDropdowns()"></div>
      



    </div>
    <fa-icon class="navbar-toggler"  [icon]="faBars" (click)="toggleNavbar()">
      <!-- <span class="navbar-toggler-icon">...</span> -->
    </fa-icon>

    <div class="nav-links-container-toggled-menu" [ngClass]="{'show': navbarOpen}">
      <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active" (click)="closeNavbar()">Home</a></li>
        <li><a routerLink="/about-me" routerLinkActive="active" (click)="closeNavbar()">About Me</a></li>
        <li><a routerLink="/shop" routerLinkActive="active" (click)="closeNavbar()">Shop</a></li>
        <li *ngIf="user?.role==='admin'"><a routerLink="/admin" routerLinkActive="active" (click)="closeNavbar()">Admin</a></li>
      <!-- </ul>
    
      <ul class="user-links"> -->
        <!-- <li *ngIf="user?.email">Welcome, {{ user?.email }}</li>
        <li *ngIf="!user?.email"><a routerLink="/login" (click)="closeNavbar()">Login</a></li>
        <li *ngIf="!user?.email"><a routerLink="/signup" (click)="closeNavbar()">Signup</a></li>
        <li *ngIf="user?.email"><a (click)="logout()">Logout</a></li> -->
      </ul>
    </div>

    
</div>
</nav>
<router-outlet></router-outlet>
