.signup-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .signup-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .signup-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
  }
  
  .signup-container input[type="email"],
  .signup-container input[type="password"],
  .signup-container input[type="string"]
   {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .signup-container small {
    color: red;
    margin-top: 5px;
  }
  
  .signup-container button[type="submit"] {
    padding: 10px;
    background-color:#ffd700;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  .signup-container button[type="submit"]:hover {
    background-color: #1a0505;
  }
  
  @media (max-width: 768px) {
    .signup-container {
      max-width: 100%;
      padding: 10px;
    }
  
    .signup-container h2 {
      font-size: 20px;
    }
  
    .signup-container button[type="submit"] {
      font-size: 14px;
    }
  }
  