<!-- src/app/auth/signup/signup.component.html -->
<div class="signup-container">
    <h2>Signup</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email">
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password">
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</small>
        </div>
      </div>
 
      <button type="submit" [disabled]="signupForm.invalid">Signup</button>
    </form>
  </div>
  