.carousel-image {
    width: 100%; /* Adjust the width as needed */
    height: fit-content; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
  }
/* 
  
  @media screen and (max-width: 400px) {
    .carousel-image {
      height: fit-content;
    }
  } */