<carousel [isAnimated]="true" [interval]="3000">
  <slide *ngFor="let image of images">
    <img [src]="image.url" alt="{{ image.alt }}" class="carousel-image">
    <div class="carousel-caption">
      <a [routerLink]="getRouterLink(image.alt)">
        <p>{{ image.caption }}</p>
      </a>
    </div>
  </slide>
</carousel>

<div class="about-me">
<section class="art-style">
  <div class="about-image">
    <img src="assets/about2.jpg" alt="Middliism Art Style">
  </div>
  <div class="content">
    <h2 class="h2-about">Arsen (Ahmad) Shamsaldin</h2>
    <h6 class="p-about">A Doctor and an Artist  <br><a routerLink="/about-me">learn more about me..</a></h6>
  </div>
</section>
</div>


<div class="section3">
  <h1>My Paintings</h1>
</div>

<app-painting></app-painting>