 <carousel>
    <slide *ngFor="let image of images">
      <img [src]="image.url" alt="{{ image.alt }}" class="carousel-image">
      <div class="carousel-caption">
        <h3>{{ image.caption }}</h3>
      </div>
    </slide>

  </carousel> 
<div class="painting-container">
  <div  *ngFor="let painting of painting$ | async">
    <div class="painting-item">
      <p>uwu</p>
      <h2>{{ painting.name }}</h2>
      <p>{{ painting.description }}</p>
      <img [src]="painting.image" alt="{{ painting.name }}" width="200">
    </div>
  </div>
</div>
  
  
  