.carousel-image {
    width: 100%; /* Adjust the width as needed */
    height: fit-content; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
  }
  p{
    /* background-color: #1a0505; */
    width: fit-content;
    font-size: 50px  ;
    text-shadow: 2px 2px 2px black;
  }
  .carousel-caption a {
    color: white;
    text-decoration: none; /* Remove underline */
  
  }
  
  .carousel-caption a:hover {
    color: #ffd700; /* Change color on hover */
  }
  
  @media screen and (max-width: 1200px) {
    .carousel-image {
      height: fit-content;
    }
    p{
      font-size: 25px;
    }
  } 
  @media screen and (max-width: 500px) {
    .carousel-image {
      height: fit-content;
    }
    p{
      font-size: 15px;
      
    }
  } 

  .about-me {
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
  }
  
  .art-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /* Ensure both columns have the same height */
    margin-bottom: 40px;
  }
  
  .about-image {
    flex: 1;
    margin: 10px;
  }
  
  .about-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; /* Set a fixed height to match the image height */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .poem {
    flex: 1;
  }
  
  .poem h6 {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
  }
  
  .section3 {
    text-align: center;
    margin-top: 40px;
  }
  
  .section3 h1 {
    font-size: 24px;
  }
  
  @media screen and (max-width: 768px) {
    .art-style {
      flex-direction: column;
    }
  
    .about-image,
    .content {
      flex: 1;
      height: auto; /* Reset height for smaller screens */
    }
  
    .poem h6 {
      font-size: 16px; /* Decrease font size for smaller screens */
      line-height: 1.4; /* Decrease line height for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .poem h6 {
      font-size: 14px; /* Further decrease font size for even smaller screens */
      line-height: 1.2; /* Further decrease line height for even smaller screens */
    }
  }
  
  
  .section3{
    display: flex;
    align-items: center;
    justify-content: center;
  }