<carousel [isAnimated]="true" [interval]="2000">
  <slide *ngFor="let image of images">
    <img [src]="image.url" alt="{{ image.alt }}" class="carousel-image">
    <div class="carousel-caption">
      <a [routerLink]="getRouterLink(image.alt)">
        <p>{{ image.caption }}</p>
      </a>
    </div>
  </slide>
</carousel>

<div class="about-me">
  <section class="art-style">
    <div class="about-image">
      <img src="assets/about5.jpg" alt="Middliism Art Style">
    </div>
    <div class="content">
      <div class="poem">
        <h6>مرت السنين وها نحن نجدد الخذلان</h6>
        <h6>مرت السنين وغزة تابى الهوان</h6>
        <h6>تخط خطى الحر الواثق</h6>
        <h6>تقول ان للنصر اوان</h6>
        <h6>وانتفض العربي الباشق</h6>
        <h6>دمي فلسطيني قال بامتنان</h6>
        <h6>بها شعر بنصر ساحق</h6>
        <h6>مكتفي بهذا فقد اطلق العنان</h6>
        <h6>هذي انتفاضة عربي منافق</h6>
        <h6>يذكرك بها ان تاملت او اصابك النسيان</h6>
        <h6>ان نسيت اقول بملا الصوت شعبنا جربان</h6>
        <h6>اقول وقد هزم الغوط امام نجاسة العربان</h6>
        <h6>ترانا ننادي نقول</h6>
        <h6>النصر ات النصر حان</h6>
      </div>
    </div>

  </section>
</div>

<div class="section3">
  <h1>My Paintings</h1>
</div>

<app-painting></app-painting>