<!-- footer.component.html -->
<footer class="footer">
    <div class="container">
      <div class="footer-left">
        <p>&copy; {{ currentYear }} Arsen's Art Gallery. All rights reserved.</p>
      </div>
      <div class="footer-center">
        <!-- <ul class="footer-links">
          <li><a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
          <li><a routerLink="/terms-of-service" routerLinkActive="active">Terms of Service</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
        </ul> -->
      </div>
      <div class="footer-right">
        <!-- <a href="https://www.facebook.com" target="_blank"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a> -->
        <a href="https://x.com/arsen4now" target="_blank"><fa-icon [icon]="['fab', 'x-twitter']"></fa-icon></a>
        <a href="https://www.instagram.com/shamsaldin_arsen?igsh=YzljYTk1ODg3Zg==" target="_blank"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
      </div>
    </div>
  </footer>
  